#top {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  color: salmon;
  width: 80%;
}
#top a {
  align-items: center;
  padding: 20px;
  background-color: salmon;
  color: azure;
  text-transform: uppercase;
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  color: salmon;
  width: 50%;
}
.nav a {
  align-items: center;
  padding: 20px;
  background-color: salmon;
  color: azure;
  text-transform: uppercase;
}
#main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80%;
}
#item {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  justify-content: center;
  margin: 10px;
  width: 30%;
  height: auto;
  border: 1px solid gray;
  border-radius: 10%;
  background-color: azure;
}
#pokemonimage {
  display: flex;
  justify-content: center;
  height: 50%;
  margin: 10px 0px;
}
img {
  max-width: 100%;
  max-height: 100%;
}

#name {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  padding: 10px;
  font-size: 2rem;
}
#delete input[type="submit"] {
  all: unset;
}

.save {
  display: flex;
  justify-content: center;
}
#edit,
#delete {
  padding: 10px;
  margin: 10px;
  color: azure;
  font-size: large;
  text-decoration: none;
  display: flex;
  justify-content: center;
  background-color: rgb(136, 135, 135);
  text-transform: uppercase;
}
a {
  text-decoration: none;
  color: azure;
}

form {
  box-sizing: border-box;
}
.pokemon {
  width: 50%;
}

fieldset {
  border: 1px solid gray;
  border-radius: 1rem;
  padding: 20px;
  margin: 20px 0;
}

input {
  width: 50%;
  margin: 10px 0;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
}
input,
label {
  display: block;
  text-transform: uppercase;
  color: salmon;
}

/**
*show page
*/
#detail {
  display: flex;
  justify-content: space-around;
  width: 50%;
  color: rgb(136, 135, 135);
}

#name {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div {
  border: 0px solid blue;
}
.type {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  padding: 0 20px;
  margin: 70px 0;
  width: 10rem;
}
